.topEdge {
    position: absolute;
    transform: rotate(-45deg) skew(15deg, 15deg);
}

.topEdgeD1 {
    top: 14px;
    left: 64px;
}

.topEdgeD2 {
    top: 65px;
    left: 64px;
}

.topEdgeD3 {
    top: 115px;
    left: 64px;
}

.leftEdge {
    position: absolute;
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}

.leftEdgeD1 {
    top: 194px;
    left: -40px;
}

.leftEdgeD2 {
    top: 170px;
    left: 7px;
}

.leftEdgeD3 {
    top: 145px;
    left: 54px;
}

.rightEdge {
    position: absolute;
    transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}

.rightEdgeD1 {
    top: 248px;
    left: 78px;
}

.rightEdgeD2 {
    top: 168px;
    left: 127px;
}

.rightEdgeD3 {
    top: 88px;
    left: 172px;
}